* {
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    --Font-size-p: 15px;
    --font-family: 'Outfit', serif; 
    --Mobile: 375px;
    --Desktop: 1440px;
}

body {
    background-color: var(--Light-gray);
}

.container {
    width: 400px;
    height: 650px;
    margin: 0px auto;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    display: grid;
    justify-content: center;
    flex-wrap:wrap;
    background-color: var(--White);
    border-radius: 4%;
    grid-template-rows: 280px 30px 150px auto auto auto auto;
    grid-template-areas: "imp","scan";
}

.pic {
  width: 370px;
  margin-left: 1em;
  margin-top: 1em;
  border-radius: 3%;
}

.slogan {
    font-size: 30px;
    font-family: var(--font-family);
    font-weight: 700;
    margin-top: 35%;
    margin-left: 9.5%;
    margin-right: 8%;
    line-height: 90%;
    color: var(--Dark-blue);
}

.description {
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    margin-top: 48%;
    margin-left: 13%;
    margin-right: 10%;
    line-height: 100%;
    color: var(--Grayish-blue);
}

.next-level {
    font-size: 21px;
    font-family: var(--font-family);
    font-weight: 400;
    margin-top: 23%;
    margin-left: 32%;
    line-height: 100%;
    color: var(--Grayish-blue);
}

